.pizza {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    margin-left: 15px;
  }

  p {
    color: #000;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
  }

  b {
    color: #000;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
  }

  .add_button {
    padding: 10px 16px 10px 11px;
  }
}

.order_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .order_pizza {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    margin-top: 17px;
  }
}
