.wrapper {
  width: 100%;
  max-width: 1340px;
  margin: 45px auto;

  background-color: #fff;

  border-radius: 10px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.03);
}

main {
  padding: 40px 48px 96px 67px;
}

.filter_section {
  display: flex;
  justify-content: space-between;

  margin-bottom: 32px;
}
