main {
  padding: 40px 48px 96px 67px;
}

.filter_section {
  display: flex;
  justify-content: space-between;

  margin-bottom: 32px;
}

@media (max-width: 678px) {
  main {
    padding: 20px 28px;
  }

  .filter_section {
    flex-direction: column;
    align-items: flex-start;
  }
}
