form {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  .arrow_btn {
    display: flex;

    background: none;
    border: 0;

    &:active,
    :focus {
      transform: rotate(180deg);
    }
  }

  p {
    margin-right: 8px;

    color: #2c2c2c;
  }

  .sort_popup {
    padding: 0;

    color: #fe5f1e;
    font-weight: 400;

    border: 0;
    border-bottom: 1px dashed #fe5f1e;
    cursor: pointer;
  }

  .sort_wrapper {
    position: absolute;
    top: 230px;
    right: 75px;

    max-width: 143px;

    padding: 13px 0;

    color: #000;
    font-weight: 400;

    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);

    button {
      width: 100%;
      padding: 10px 25px 10px 14px;

      text-align: start;

      background: #fff;

      border: 0;

      &:hover {
        color: #fe5f1e;

        background: rgba(254, 95, 30, 0.05);
      }

      &:active {
        font-weight: 700;
      }
    }
  }
}
