.selector_wrapper {
  display: flex;
  flex-direction: column;
}

.options_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 7px;

  background: #f3f3f3;
  border-radius: 10px;
}

.options_buttons {
  display: flex;

  &:first-child {
    button {
      margin-bottom: 7px;
      padding: 9px 30px;

      text-align: center;
    }
  }

  button {
    padding: 9px 23px;

    color: #2c2c2c;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;

    background-color: #f3f3f3;
    border: 0;

    &:not(:last-child) {
      margin-right: 6px;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.3);
      border-radius: 5px;
    }

    &:disabled {
      opacity: 0.3;
    }
  }

  .active {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  }
}

.order_pizza {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  margin-top: 17px;

  .add_button {
    padding: 10px 16px 10px 11px;

    color: #eb5a1e;

    background-color: #fff;
    border: 1px solid #eb5a1e;

    &:hover {
      color: #fff;

      background-color: #fe5f1e;
      border: 1px solid #fe5f1e;
    }
  }
}
